<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>List</title>
  </head>
  <body>
    <div class="container mt-3">
      <div class="card">
        <div class="card-header">
          <table class="table">
            <tr>
              <th>
                <a href="/link/create" class="btn btn-sm btn-outline-primary">Crete link</a>
              </th>
              <th>
                <div class="input-group mb-3">
                  <form action="/list" method="GET" id="form">
                    <input th:value="${query}" type="text" class="form-control form-control-sm" name="query" placeholder="Search ...">
                  </form>
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" type="submit" form="form">Search</button>
                  </div>
                </div>
              </th>
              <th>
                <span th:text="'Links: ' + ${links.size()}"></span>
              </th>
            </tr>
          </table>
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>Short link</th>
              <th>Full link</th>
              <th>Open count</th>
              <th>Action</th>
            </tr>
            <tr th:each="link: ${links}">
              <td>
                <a th:text="${link.shortLink}"
                   th:href="'/' + ${link.shortLink}" target="_blank"></a>
              </td>
              <td th:text="${link.link}"></td>
              <td>
                <span th:text="${link.openCount}"></span>
              </td>
              <td>
                <a th:href="'/link/delete?shortlink=' + ${link.shortLink}" class="btn btn-sm btn-outline-danger">Remove</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
          <div class="btn btn-primary">Press me</div>
        </div>
      </div>
    </div>
  </body>
</html>